/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
$overlay-fade-out-duration: 3s;
$naboria-fade-in-duration: 3s;
$naboria-fade-in-delay: $overlay-fade-out-duration - 1;
$coming-soon-fade-in-duration: 3s;
$coming-soon-fade-in-delay: $naboria-fade-in-delay + $overlay-fade-out-duration - 1;

*{
  font-family: "Anton", sans-serif;
}

@mixin absolute-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#video {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#naboria-container{
  @include absolute-container;
  #naboria-content{
    position: relative;
    left: 0%;
    top: 25%;
    color: black;
    z-index: 1;
    font-size: 12vh;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    opacity: 0;
    animation: fade-in $naboria-fade-in-duration, slide-up-naboria $naboria-fade-in-duration;
    animation-delay: $naboria-fade-in-delay;
    animation-fill-mode: forwards;
  }

}

#coming-soon-message-container {
  @include absolute-container;
  #coming-soon-message {
    position: relative;
    left: 0%;
    top: 35%;
    color: black;
    z-index: 1;
    font-size: 12vh;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    opacity: 0;
    animation: fade-in $coming-soon-fade-in-duration, slide-up-coming-soon $coming-soon-fade-in-duration;
    animation-delay: $coming-soon-fade-in-delay;
    animation-fill-mode: forwards;
  }
}

.overlay {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: black;
  background-color: black;
  z-index: 2;
  animation: fade-out $overlay-fade-out-duration;
  animation-fill-mode: forwards;
}

@keyframes slide-up-naboria {
  from{
    top:25%
  }

  to{
    top: 20%;
  }
}

@keyframes slide-up-coming-soon {
  from{
    top:40%
  }

  to{
    top: 35%;
  }
}

@keyframes fade-in {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes fade-out {
  from{
    opacity: 1;
  }

  to{
    opacity: 0;
  }
}